@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* "border-box" includes both padding and border*/
}
header{
    width: 100%;
    height: 100vh;

}
header nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 15; /*vertical stacking order for items which overlap*/
}
::selection{        /*selecting in a page particular part and give particular property*/
    background-color: aqua;
}
.nav-bar{
    display: flex;
    width: 95%;
    margin: 25px auto 0px auto;
    align-items: center;
    justify-content: space-between;
}
nav .menu{
    display: flex;
}
nav .menu li{
    margin: 5px;
    list-style: none;
}
nav .menu a:hover{
    color: blueviolet;
}
nav .menu a{
    font-size: 15px;
    color: brown;
    font-weight: 700;
    text-decoration: none;
}
nav .SearchBox{
    position: relative;
    width: 250px;
    height: 40px;
}
.SearchBox input[type="text"]
{
    position: absolute;
    font-size: 18px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    color: #2c3350;
    border: 2px solid #2c3350;
    background: #f2f2f2;
    padding: 0 10px 0 40px;
     
}
.SearchBox a{
    position: absolute;
    left: 10px;
    top: 20%;
    font-size: 10px;
    color: #2c3350;
   /* transform: translateY(-50%);*/
    padding: 2px;
    border: 2px solid gray;
}
.textContent{
    position: absolute;
    top: 30%;
    left: 7%;
    z-index: 10;
}
header .textContent .text{
    font-size: 20px;
    color: aquamarine;
}
header .textContent .name{
    font-size: 25px;
    color: aqua;
    font-weight: 700;
    margin: -20px 0 -5;
}
header .textContent .job{
    font-size: 22px;
    color: black;
    margin: 10px 0;
    margin-top: -4px;
    display: flex;
}
.textContent .typingText{
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid green;
    animation: typing 6s steps(100) infinite;
}
@keyframes typing{
    0%{
        width: 0ch; /* 0 character*/
    }
    50%{
        width: 17ch;
    }
    100%{
        width: 0ch;
    }
}
.Content .image{
    position: absolute;
    bottom: 0;
    top: 0;
    
    height: 97%;
    right: 80px;
}
header .mediaIcons{
    position: absolute;
  align-items:center;
  display:flex;
  /*flex-wrap:wrap;*/
  flex-flow: column;     /*flex-flow -> combination of flex-direction & flex-wrap*/
  /*font-family:sans-serif;*/
  
  /*justify-content:left;*/
  left: 1190px;
  padding:20vw;
  
  right:0;
  /*text-align:center;*/
  top: 50px;
}

.mediaIcons a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.5;
    color: blue;
}
.mediaIcons a:hover{
    opacity: 0.9;
}